---
layout: default
---
<section class="section--content font--large">
	<h1><i class="icon-logo" data-grunticon-embed></i></h1>
	<h2>Bespoke Creative</h2>
	<p class="margin--bot-2">Intentioned and informed design by tenured food and beverage creatives and marketers in California</p>
	
	<form id="my-form"
		action="https://formspree.io/xaybwlyk"
		method="POST"
		>
		<div>
			<label class="screenreader">Email</label>
			<input type="text" placeholder="Email" name="_replyto">
		</div>
		<div>
			<label class="screenreader">Your message:</label>
			<textarea placeholder="Your Message" name="message"></textarea>
		</div>
		<div>
			<button type="submit">Send</button>
		</div>
		<p id="my-form-status"></p>
	</form>

	<script>
	window.addEventListener("DOMContentLoaded", function() {

	
	var form = document.getElementById("my-form");
	var button = document.getElementById("my-form-button");
	var status = document.getElementById("my-form-status");

	
	function success() {
	form.reset();
	button.style = "display: none ";
	status.innerHTML = "Thanks!";
	}
	function error() {
	status.innerHTML = "Oops! There was a problem.";
	}

	form.addEventListener("submit", function(ev) {
	ev.preventDefault();
	var data = new FormData(form);
	ajax(form.method, form.action, data, success, error);
	});
	});
	

	function ajax(method, url, data, success, error) {
	var xhr = new XMLHttpRequest();
	xhr.open(method, url);
	xhr.setRequestHeader("Accept", "application/json");
	xhr.onreadystatechange = function() {
	if (xhr.readyState !== XMLHttpRequest.DONE) return;
	if (xhr.status === 200) {
	success(xhr.response, xhr.responseType);
	} else {
	error(xhr.status, xhr.response, xhr.responseType);
	}
	};
	xhr.send(data);
	}
	</script>
</section>